/* COLOR VARIABLES */
:root {
	--bg-color: #f0e4e4;
	--text-color-black: #000000;
	--text-color-white: white;
	--text-color-kypa: #580c0c;
	--hover-color: #363636;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Courier Prime", monospace;
  font-style: normal;
	color: var(--hover-color);
}

.header {
  background-color: var(--bg-color);
  width: 100%;
  min-height: 80px;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  width: 120px;
}

.navbar-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
  gap: 30px;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
}

.navbar-links li a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  opacity: 1;
  transition: color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.navbar-links li a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  opacity: 1;
  transition: color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.navbar-links:hover li a {
  opacity: 0.4;
}

.navbar-links li a:hover {
  opacity: 1;
  transform: scale(1.05);
}

.navbar-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 3px;
  background: linear-gradient(132deg,rgba(88, 12, 12, 1) 23%, rgba(237, 221, 221, 1) 81%, rgba(54, 54, 54, 1) 53%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.navbar-links li a:hover::after {
  transform: scaleX(1);
}

.navbar-links.active {
  transform: translateY(0);
}

.navbar-hamburger {
  width: 30px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.navbar-hamburger span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background: var(--text-color-black);
  border-radius: 2px;
  transition: all 0.4s ease;
}

/* STARTING POSITION HAMBURGER MENU */
.navbar-hamburger span:nth-child(1) {
  top: 0;
}
.navbar-hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar-hamburger span:nth-child(3) {
  bottom: 0;
}

/* ANIMATION TO X */
.navbar-hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navbar-hamburger.active span:nth-child(2) {
  opacity: 0;
}
.navbar-hamburger.active span:nth-child(3) {
  bottom: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

body.no-scroll {
  overflow: hidden; /* NO SCROLL */
}

.main-presentation {
	background-color: var(--bg-color);
	min-height: calc(100dvh - 140px);;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.main-presentation-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0 20px;
	text-align: center;
}

.main-presentation-info h1 {
	font-size: 36px;
	color: var(--text-color-kypa);
}

.main-presentation-info h3 {
	max-width: 500px;
	font-weight: normal;
	font-size: 16px;
}

.main-presentation-info p {
	font-size: 12px;
}

.main-presentation-info a {
  all: unset;
  cursor: pointer;
	background-color: var(--text-color-kypa);
	color: var(--bg-color);
	border-radius: 10px;
	border: solid var(--text-color-kypa);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	padding: 10px 15px;
	font-size: 18px;
}

.main-presentation-info a:hover {
	background-color: var(--bg-color);
	color: var(--text-color-kypa);
	border: solid var(--text-color-kypa);
}

.main-presentation-img {
  width: 280px;
  height: 300px;
  display: flex;
	border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  animation: slideInRight 1.5s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100px); /* Comienza desde la derecha */
    opacity: 0; /* Invisible al inicio */
  }
  100% {
    transform: translateX(0); /* Posición original */
    opacity: 1; /* Totalmente visible */
  }
}

.main-AnimatedBar {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
	height: 100%;
	min-height: 60px;
  background: var(--bg-color);
  padding: 10px 0;
}

.main-AnimatedBar-scroll {
  display: flex;
	justify-content: center;
	align-items: center;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.main-AnimatedBar-scroll p {
  padding: 0 40px;
  font-size: 18px;
	color: var(--text-color-kypa);
}

.main-AnimatedBar-scroll img {
  width: 20px;
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Tamaño normal */
  }
  50% {
    transform: scale(1.2); /* Aumenta un poco */
  }
}



.main-AboutUs {
	background-color: var(--text-color-kypa);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 50px 0;
}

.main-AboutUs-img {
	border-radius: 10px;
	width: 100%;
	height: 340px;
	object-fit: cover;
	object-position: top;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.main-AboutUs-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 40px;
	padding: 0 20px;
	color: var(--text-color-white);
}

.main-AboutUs-info h2 {
	color: var(--text-color-white);
	font-size: 36px;
}

.main-AboutUs-info p {
	color: var(--text-color-white);
	text-align: justify;
}

.main-AboutUs-info p strong {
	color: var(--text-color-white);
	font-size: 18px;
}

.main-services {
	background-color: var(--bg-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 50px 20px;
}

.main-services h2 {
	font-size: 36px;
	color: var(--text-color-kypa);
}

.main-services-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.main-services-info_type {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main-services-info_type h3 {
	font-size: 18px;
	color: var(--text-color-kypa);
}


.main-services-info_type p {
	text-align: justify;
}


.main-resvation {
	background-color: var(--text-color-kypa);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 50px 40px;
}

.main-resvation-ImgInfo {
	background-image: url(./images/IMG_5093.JPG);
	background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
	width: min(100%, 800px);
	min-width: 280px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.main-resvation-Info {
	background-color: var(--bg-color);
	background-color: rgba(0, 0, 0, 0.9);
	width: 70%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
	color: var(--bg-color);
	text-align: center;
	padding: 80px 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.main-resvation-Info h3 {
	color: var(--text-color-white);
	font-size: 18px;
}

.main-resvation-Info p {
	color: var(--text-color-white);	
}

.main-resvation-form {
	width: min(100%, 600px);
	min-width: 280px;
	display: flex;
	flex-direction: column;
	gap: 30px;	
}

.main-resvation-form h2 {
	color: var(--text-color-white);	
	font-size: 36px;
	text-align: center;
}

.formService {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-content: center;
  gap: 20px; 
  padding: 20px;
}

.formService-request {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formService-request label {
  font-weight: 600;
  color: var(--text-color-white);	
  font-size: 18px;
}

.formService-request input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--text-color-white);
  text-align: center;
  font-size: 16px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

.formService-request input::placeholder {
	color: var(--text-color-white);	
}

.formService button {
  all: unset;
  cursor: pointer;
	background-color: var(--text-color-kypa);
	color: var(--bg-color);
	border: solid var(--text-color-kypa);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 18px;
	padding: 10px 15px;
}

.formService button:hover {
  background-color: var(--bg-color);
	color: var(--text-color-kypa);
	border: solid var(--text-color-kypa);
}

.main-operation {
	background-color: var(--bg-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 50px 0;
}

.main-operation h2 {
	color: var(--text-color-kypa);
	font-size: 36px;
	text-align: center;
}
.main-operation-box {
	width: 100%;
}
.main-operation-IconBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	gap: 30px;
	padding: 20px 100px;
}

.main-operation-IconBox-step{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	text-align: center;
}

.main-operation-IconBox-step h3 {
	color: var(--text-color-kypa);
	font-size: 18px;
}

.main-operation-icon {
	width: 120px;
	background-color: var(--text-color-white);
	border-radius: 50%;
}

.main-testimony {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 20px;
}

.main-testimony-content {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.main-testimony-content h2 {
  color: var(--text-color-kypa);
  font-size: 36px;
}

.main-testimony-slider {
  display: flex;
	justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 600px;
}

.slider-window {
  width: 100%;
  overflow: hidden;
}

.main-testimony-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.main-testimony-comment {
  flex: 0 0 100%;
  text-align: center;
  box-sizing: border-box;
}

.main-testimony-comment h3 {
	font-size: 22px;
  padding-bottom: 20px;
	color: var(--text-color-kypa);
}

.slider-btn {
	all: unset;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	cursor: pointer;
}

.slider-btn:hover {
	opacity: 0.5;
}

.main-testimony img {
	width: 100%;
	min-width: 280px;
	max-height: 800px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.main-faq {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 20px 100px 20px;
}

.main-faq h2 {
  font-size: 36px;
  text-align: center;
  color: var(--text-color-kypa);
	padding-bottom: 40px;
}

.main-faq-option {
  width: 100%;
	max-width: 500px;
	margin: 0 auto;
  border-bottom: 2px solid var(--text-color-black);
  overflow: hidden;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;
}

.faq-header h3 {
  font-size: 18px;
}

.toggle {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color-kypa);
  transition: transform 0.3s ease;
}

.main-faq-option p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 1s ease;
  font-size: 16px;
  line-height: 1.4;

}

.main-faq-option.open p {
  opacity: 1;
  padding: 10px 0;
}

.footer {
	background-color: var(--bg-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 40px 20px 40px 20px;
	border-top: 1px solid var(--text-color-black);
	text-align: center;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--text-color-black);
}

.footer-kypaSocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.footer-kypaSocial-logo {
	width: 200px;
	height: 100px;
}

.footer-kypaSocial-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.footer-kypaSocial-link-icon img {
	width: 60px;
}

.footer-policy {
	text-align: center;
}

@media (min-width: 768px) {
  .main-presentation,
  .main-AboutUs,
  .footer {
    flex-direction: row;
  }

	.main-operation-IconBox {
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
		gap: 20px; /* Espacio entre columnas */
	}

  .main-presentation { padding: 0 30px; }
  .main-AboutUs { padding: 50px 20px; }

  .main-services {
    align-items: flex-start;
    padding: 50px 80px;
  }

  .main-services-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

	.main-operation-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

  .main-operation-IconBox { gap: 60px; }

  .main-operation-IconBox:first-child {
		position: relative; /* Necesario para ::after */
	}

	.main-operation-IconBox:first-child::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		min-width: 650px; /* mínimo 650px */
		width: 85%;       /* crece según el contenedor */
		height: 3px;
		background: linear-gradient(132deg, rgba(88, 12, 12, 1) 23%, rgba(237, 221, 221, 1) 81%, rgba(54, 54, 54, 1) 53%);
	}

  .main-faq-option { max-width: 800px; }
  .toggle { font-size: 40px; }

  .footer {
    justify-content: space-between;
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .navbar-links {
    position: static;
    transform: none;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    background: none;
    gap: 20px;
  }

  .navbar-hamburger { display: none; }
	.main-presentation-info p { font-size: 14px; }

	.main-resvation {
		flex-direction: row;
	}

	.main-resvation > div {
		width: 50%; /* Cada uno ocupa la mitad */
	}

  .main-presentation-img {
    width: 350px;
    height: 370px;
  }

  .main-AboutUs-img {
    width: 100%;
    height: 500px;
  }

	.main-AboutUs-info {
		gap: 60px;
	}

  .main-resvation-form {
    max-width: 100%;
    gap: 50px;
  }

	.main-testimony {
		flex-direction: row; /* Ya lo tienes */
	}

		.main-testimony > div:nth-child(1) {
			flex: 0 0 40%; /* Primer div ocupa 60% */
	}

	.main-testimony > div:nth-child(2) {
			flex: 0 0 60%; /* Segundo div ocupa 40% */
	}

  .main-resvation-ImgInfo { height: 500px; }
  .main-operation-IconBox { gap: 150px; }
  .main-faq-option { max-width: 1000px; }
  .toggle { font-size: 50px; }
	.main-testimony-content { gap: 80px; }

	.footer { 
		padding: 80px 120px; 
	}
}

@media (min-width: 1440px) {
	.header { min-height: 100px; }
	.navbar-logo { width: 160px; }
	.navbar-links li a { font-size: 22px; }

	.main-presentation { min-height: calc(100dvh - 180px); }
	.main-presentation-info { gap: 30px; }
	.main-presentation-info h1 { font-size: 56px; }
	.main-presentation-info h3 { font-size: 22px; }
	.main-presentation-info p { font-size: 16px; }
	.main-presentation-info a {
		font-size: 22px;
		padding: 10px 15px;
	}

	.main-presentation-img {
		width: 600px;
		height: 620px;
	}

	.main-AnimatedBar { height: 80px; }
	.main-AnimatedBar-scroll p { font-size: 26px; }
	.main-AnimatedBar-scroll img { width: 40px; }

	.main-AboutUs,
	.main-services,
	.main-operation {
		padding: 80px 60px;
	}
	
	.main-AboutUs-info p { font-size: 18px; }
	.main-AboutUs-info p strong { font-size: 22px; }

	.main-resvation { padding: 100px 60px 80px 60px; }
	.main-testimony {	padding: 80px 150px; }
	.main-AboutUs { padding-top: 120px; }

	.main-AboutUs-img {
		width: 800px;
		height: 700px;
	}

	.main-AboutUs-info h2,
	.main-services h2,
	.main-resvation h2,
	.main-operation h2,
	.main-testimony-content h2,
	.main-faq h2 {
		font-size: 56px;
	}

	.main-services-info_type h3,
	.main-resvation-Info h3,
	.main-operation-IconBox-step h3,
	.formService-request label,
	.formService button,
	.faq-header h3 {
		font-size: 22px;
	}

	.main-AboutUs-info p,
	.main-services-info_type p,
	.main-resvation-Info p,
	.formService-request input,
	.main-testimony-comment p,
	.main-faq-option p,
	.footer-contact p,
	.footer-kypaSocial h3,
	.footer-policy p {
		font-size: 18px;
	}

	.main-testimony-comment h3 { font-size: 30px; }
	.main-resvation-ImgInfo { height: 700px; }
	.main-resvation-Info { gap: 30px; }
	.formService { gap: 50px; }

	.main-operation-IconBox {
		padding: auto;
		gap: 240px;
	}

	.main-operation-icon { width: 150px; }

	.slider-btn {
		all: unset;
		text-align: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 50px;
		cursor: pointer;
	}

	.main-testimony-content { gap: 100px; }

	.main-faq {
		background-color: var(--bg-color);
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 80px 0 200px;
	}

	.main-faq-option { max-width: 1200px; }
	.footer { padding: 80px 200px; }
	.footer-kypaSocial-link-icon img { width: 90px; }
}






